<div class="content">
    <div id="job">
        <h1>{{$ctrl.index[0]['company']}}</h1>
        <h2>{{$ctrl.index[0]['location']}}</h2>
        <h3>
            {{$ctrl.index[0]['position']}}
            <small> - {{$ctrl.index[0]['type']}}</small>
        </h3>
        <div ng-if="$ctrl.index[0]['logo']!=null" class="logo">
            <a ng-href="{{$ctrl.index[0]['url']}}">
                <img ng-src="/uploads/jobs/{{$ctrl.index[0]['logo']}}">
            </a>
        </div>
        <div ng-if="$ctrl.index[0]['logo']==null" class="logo">
            <a><img src="/uploads/jobs/imagenPrueba.png"></a>
        </div>
        <div class="description">
            <p>{{$ctrl.index[0]['description']}}</p>
        </div>
        <h4>How to apply?</h4>
        <p class="how_to_apply">{{$ctrl.index[0]['howToApply']}}</p>
        <div class="meta">
            <small>posted on {{$ctrl.index[0]['createAt']}}</small>
        </div>
        <div style="padding: 10px 10px">
            <a>Edit</a>
        </div>
    </div>
</div>