<div class="content" ng-controller="postJob">
    <h1>New Job</h1>
    <form method="post" name="form">
        <table id="job_form">
            <tfoot>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Preview your job" ng-click="save(job)">
                </td>
            </tr>
            </tfoot>
            <tbody>
            <tr>
                <th><label for="job_category_id">Category</label></th>
                <td><select id="job_category_id" ng-model="job.category" >
                    <option value="1">Design</option>
                    <option value="2">Programming</option>
                    <option value="3">Manager</option>
                    <option value="4">Administrator</option>
                </select></td>
            </tr>
            <tr>
                <th><label>Type</label></th>
                <td>
                    <ul class="radio_list">
                        <li><input type="radio" value="full-time" id="job_type_full-time"
                                   checked="checked" ng-model="job.type" value="Full time" cheked>&nbsp;<label
                                for="job_type_full-time">Full time</label></li>
                        <li><input type="radio" value="part-time" id="job_type_part-time"
                                   ng-model="job.type" value="Part time">&nbsp;<label
                                for="job_type_part-time">Part time</label></li>
                        <li><input type="radio" value="freelance" id="job_type_freelance"
                                   ng-model="job.type" value="Freelance">&nbsp;<label
                                for="job_type_freelance">Freelance</label></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th><label for="job_company">Company</label></th>
                <td><input type="text" name="job[company]" id="job_company" ng-model="job.company"></td>
            </tr>
            <tr>
                <th><label for="job_logo">Company logo</label></th>
                <td><input type="file" name="job[logo]" id="job_logo" ng-model="job.logo"></td>
            </tr>
            <tr>
                <th><label for="job_url">Url</label></th>
                <td><input type="text" name="job[url]" id="job_url" ng-model="job.url"></td>
            </tr>
            <tr>
                <th><label for="job_position">Position</label></th>
                <td><input type="text" name="job[position]" id="job_position" ng-model="job.position"></td>
            </tr>
            <tr>
                <th><label for="job_location">Location</label></th>
                <td><input type="text" name="job[location]" id="job_location" ng-model="job.location"></td>
            </tr>
            <tr>
                <th><label for="job_description">Description</label></th>
                <td><textarea rows="4" cols="30" name="job[description]" id="job_description"
                              ng-model="job.description"></textarea></td>
            </tr>
            <tr>
                <th><label for="job_how_to_apply">How to apply?</label></th>
                <td><textarea rows="4" cols="30" name="job[how_to_apply]" id="job_how_to_apply"
                              ng-model="job.howToApply"></textarea></td>
            </tr>
            <tr>
                <th><label for="job_is_public">Public?</label></th>
                <td><input type="checkbox" checked="checked" id="job_is_public"
                           ng-model="job.pub"><br>Whether the
                    job can also be published on affiliate websites or not.
                </td>
            </tr>
            <tr>
                <th><label for="job_email">Email</label></th>
                <td><input type="email" name="jobEmail" id="job_email" ng-model="job.email">
                    <span ng-show="form.jobEmail.$error.email">This is not a valid email.</span>
                    <input type="hidden" name="job[id]" id="job_id">
                    <input type="hidden" name="job[_csrf_token]" value="f1f7d971f3a1ee9833b73a61b59bae06"
                           id="job__csrf_token"></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>